<%- include('./partials/header') %>
<%- include('./partials/navbar') %>

<div class="row mt-5">

    <% for(let item of allProducts){ %>

        <div class="col-lg-4 product-card">
            <div class="card text-center shadow mt-3 mx-auto" style="width: 18rem;">
                <img src="<%=item.img%>" class="card-img-top img" alt="...">
                <div class="card-body">
                  <h3 class="card-title"> <%= item.name %> </h3>
                  <h5 class="card-title"> Rs: <%= item.price %> </h5>
                  <p class="card-text"> <%= item.desc.substring(0,20) %>... </p>
                  <a href="/products/<%= item._id %>" class="btn btn-primary">View Product</a>
                </div>
            </div>
        </div>
        
    <% } %>
</div>


<%- include('./partials/footer') %>