
<%- include('./partials/header') %>
<%- include('./partials/navbar') %>

<div class="row">
    <div class="row">
        <div class="col-lg-6 product-card mt-5">
                <div class="card shadow mt-3 mx-auto" style="width: 22rem;">
                    <img class="img" src="<%=foundProduct.img%>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title text-center"> <%= foundProduct.name %> </h3>
                      <h5 class="card-title"> Rs: <%= foundProduct.price %> </h5>
                      <p class="card-text"> <%= foundProduct.desc %> </p>
                      <a href="#" class="btn btn-success">Buy</a>
                      <a href="#" class="btn btn-secondary">Add to Cart</a>
                      <a href="/products/<%=foundProduct._id%>/edit" class="btn btn-info">Edit</a>
                      <form class="d-inline-block" action="/products/<%=foundProduct._id%>?_method=DELETE" method="POST">
                          <button class="btn btn-danger btn-sm">Delete</button>
                       </form>
                    </div>
                </div>
        </div>

    <div class="col-lg-6">
        <div class="col-lg-4 mt-5">
            <h2 class="display-5">Leave your review</h2>
            <form action="/products/<%= foundProduct._id %>/review" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="stars">Rating: </label>
                    <input class="form-control" type="range" min="0" max="5" id="stars" name="rating">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="comment">Comment: </label>
                    <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
                </div>
                <button class="btn btn-sm btn-success">Submit</button>
            </form>
        </div>
    </div>

</div>

<%- include('./partials/footer') %>
